.nav{
    margin-top: 200px; 
    width: 180px;
    margin-left: 7px;
    height: 200; 
    text-indent: 10px; 
   
    
}
.nav ul{
    list-style: none;
    position: fixed;
    box-shadow: 0 0 10px black;
    margin-top: -10px;
    border-radius: 10%;
}
.nav ul li{
    margin-bottom: 10px; 
    letter-spacing: 5px;
}
.nav ul li a{
    color: white;
    font-weight:500;
}